h1{
    color: red;
}
footer {
    position: fixed;
    Width: 100%;
    bottom: 0;
    background-color: whitesmoke;
}
footer>*{
    margin: 1.5%;
}
header>*>*{
    margin: 1%;
}

main {
    margin: 5%;
}
main>*{
    margin: 5%;
}
#connect-error{
    color:red;
    font-size: larger;
    font-weight: bolder;
}