<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SchoolRoom</title>
    <th:block th:replace="~{fragment/fragments :: base_css}"></th:block>
</head>
<body>
<th:block th:replace="~{fragment/header :: header}"></th:block>
<main>
    <h1>Material n° : <span th:text="${material.id}"></span> </h1>
    <table class="table">
        <thead>
        <tr>
            <td>id</td>
            <td>name</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="*{material.id}"></td>
            <td th:text="*{material.name}"></td>
            <td> <a class="btn btn-outline-danger" th:href="@{ /material/{id}/update (id=*{id}) }">Update</a></td>
            <td>
                <form th:action="@{ /material/{id}/delete (id=*{id}) }" method="post">
                    <button type="submit" class="btn btn-outline-danger" th:field="*{id}">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-success" href="/material/all">Back</a>
</main>
<th:block th:replace="~{fragment/footer :: footer}"></th:block>
<th:block th:replace="~{fragment/fragments :: base_js}"></th:block>
</body>
</html>