<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>SchoolRoom</title>
  <th:block th:replace="~{fragment/fragments :: base_css}"></th:block>
</head>
<body>
<th:block th:replace="~{fragment/header :: header}"></th:block>
<main>
  <h1>Material insert form</h1>

  <form action="/material/add" method="post" th:object="${form}">

    <div class="mb-3">
      <label for="in-name" class="form-label">Name</label><br/>
      <input type="text" id="in-name" th:field="*{name}" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Insert</button>
  </form>
</main>
<th:block th:replace="~{fragment/footer :: footer}"></th:block>
<th:block th:replace="~{fragment/fragments :: base_js}"></th:block>
</body>
</html>