<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SchoolRoom</title>
    <th:block th:replace="~{fragment/fragments :: base_css}"></th:block>
</head>
<body>
<th:block th:replace="~{fragment/header :: header}"></th:block>
<main>
    <h1>Room List</h1>

    <table class="table">
        <thead>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>number of places</td>
            <td>is teacher room</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item:${list}" th:object="${item}">
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{numberPlaces}"></td>
            <td th:text="*{teacherRoom}"></td>

            <td><a class="btn btn-outline-danger" th:href="@{ /room/{id} (id=*{id}) }">View</a></td>
            <td><a class="btn btn-outline-danger" th:href="@{ /room/{id}/update (id=*{id}) }">Update</a></td>
            <td>
                <form th:action="@{ /room/{id}/delete (id=*{id}) }" method="post">
                    <button type="submit" class="btn btn-outline-danger" th:field="*{id}">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-success" th:href="@{/room/add}">Add a room</a>
</main>
<th:block th:replace="~{fragment/footer :: footer}"></th:block>
<th:block th:replace="~{fragment/fragments :: base_js}"></th:block>
</body>
</html>